.special-title{
  text-align: center;
  color: #CD212A;
  font-family: 'Roboto', sans-serif;
}
.image-gallery {
    display: flex;
    justify-content: space-between;
    padding: 25px;
  }
  
  .image-container {
    position: relative;
    width: 32%;
    overflow: hidden;
  }
  
  .image {
    width: 100%;
    display: block;
    transition: filter 0.3s ease;
    /* Initially CMYK-like color */
    filter: brightness(0.7);
    border-radius: 15px; 
  }
  
  .image-container:hover .image {
    filter: brightness(1); /* Becomes colorful on hover */
  }
  
  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0);
    color: white;
    padding: 10px;
    z-index: 2;
    transition: transform 0.5s ease;
    border-radius: 0 0 15px 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
  }
  
  .title {
    margin: 0;
    opacity: 1; /* Always visible */
    transition: transform 0.5s ease;
    font-weight: 500;
    font-size: 22px;

  }
  
  .description {
    margin: 0;
    opacity: 0;
    transform: translateY(100%);
    transition: transform 0.5s ease, opacity 0.5s ease;
    font-size: 14px;
  }
  
  .image-container:hover .title {
    transform: translateY(-20px); /* Move title up */
    margin-top: 10px;
    transition-delay: 0.2s;
    
  }
  
  .image-container:hover .description {
    opacity: 1;
    transform: translateY(-20px); /* Moves description along with title */
  }
  
  /* Expanding overlay on hover */
  .image-container:hover .overlay {
    transform: translateY(-10px); /* Move overlay up slightly */

  }
