.about{
    display: flex;
    width: 90%;
    margin: auto;

    min-height: 60vh;
    ;
}
.about-left{
width: 40%;
margin: auto;
height: 100%;
align-items: center;
}
.about-right{
width: 60%;
display: flex;
flex-direction: column;
justify-content: center;
}
.about-right h2{
  margin-left: 30px;
  font-family: 'Roboto', sans-serif;
  color: #CD212A;

}
.about-right p{
    margin-left: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 30px;
    color: #455A64;
    text-align: justify;
}
.about-see-more{
    display: flex;
    justify-content: center;
    margin-top: 30px;

}
.about-see-more button{
    color: #fff;
    background-color: #009246;
    border: none ;
    padding: 10px 20px;
    border-radius: 20px;
}
.about-left-silde{
    display: flex;
    margin: auto;
    justify-content: center;
    margin-left: 25px;
    margin-top: -50px;
}