.footer{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    background-color: #455A64;
    color: #ffffff;

}
.footer-content{
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: auto;
    line-height: 10px;
    margin-top: 0;
}
.footer-content h4{
    margin-bottom: 30px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0.5px;
}
.footer-content p{
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    letter-spacing: 0.5px;
}
.footer-contect{

}
.footer-logo{
    align-items: center;
    justify-content: center;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.footer-download{
    align-items: center;
    display: flex;
    flex-direction: column;
}
.footer-bottom{
    width: 100%;
    height: 50px;
    background-color: #263238;
}
.footer-bottom{
    align-items: center;
    text-align: center;
}
.footer-download-icon{
    display: flex;
    gap: 15px;
}
.footer-logo img{
    width: 50%;
    margin: auto;
}
.footer-logo h3{
 margin-top: 0;
 font-family: 'Reggae One', cursive;;
}
.footer a{
    text-decoration: none;
    color: #ffffff;
}